.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aspect-w-16 {
  position: relative;
  padding-bottom: calc(9 / 16 * 100%);
  line-clamp: 2; /* Standard property for compatibility */
}

.aspect-h-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
